h1#title Asset Tracking

div.icon-bar
	a(href="/user/all").iconButton#users
		i.fa.fa-user-o.fa-lg Users
	a(href="/clients").iconButton#clients
		i.fa.fa-vcard-o.fa-lg Clients
	a(href="/assets").iconButton#assets
		i.fa.fa-tv.fa-lg Assets
	a(href="/").active.iconButton#home
		i.fa.fa-home.fa-lg Home
