doctype html
html
	head
		include ../head.pug
	body
		include ../title.pug
		h2.pageSubTitle
			Create User
		div.form
			form(action = `/user/create` , method = 'POST')
				div#userName
					label(for = 'username') Username:
					br
					input(name = 'username', placeholder = 'Username')
				div#password
					label(for = 'password') Password:
					br
					input(name = 'password', placeholder = 'Password')
				button(type = 'submit') Create
	footer
